/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *
 */


.notify { margin-top: 60px; }
/*.content-wrapper { margin-top: 60px; }*/

.user-item { margin: 5px; }
.user-item .item-label {
  display: inline-block;
  margin-left: 5px; width: 90px; text-align: right; vertical-align: middle;
}
.user-item .text { margin: 6px 0; width: 250px; }
.field_with_errors { display: inline; border: solid 2px #f33; }

.user-links .btn { margin: 3px 8px; }

